.header-item {
  border: 1px solid black;
  display: flex;
  box-sizing: border-box;
  flex-grow: 1;
  position: relative;
}

.header-text {
  margin: auto;
}

.header-background {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}

.header-item:hover {
  .header-background {
    background-color: black;
    opacity: 0.1;
  }
}

.header-date {
  margin: 5px 0;
}

.header-container {
  display: flex;
}