.mainview {

  .title {
    text-align: center;
    padding: 20px;
    background-color: #555;
    
    h1 {
      color: white;
    }
  }

  .setting-button {
    position: absolute;
    right: 8px;
    top: 8px;
  }

  .setting-item {
    
  }
}